@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  background: #000;
}

#menu-btn {
  position: fixed;
  font-weight: 400;
  top: 40px;
  right: 40px;
  margin: 10px;
  font-size: 22px;
  padding: 8px 16px;
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 11px;
  cursor: pointer;
}

menu {
  position: fixed;
  top: 40px;
  right: 40px;
  border-radius: 11px;
  overflow: hidden;
}

.menu-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f00;
}

.menu-contents {
  position: relative;
  width: 100%;
  height: 100%;
  list-style-type: none;
  background: skyblue;
  padding: 50px 40px;
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  line-height: 31px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.section-btn button {
  border-bottom: solid 2px transparent;
  margin: 10px 0;
  padding: 3px 0;
}

.btn-area {
  display: block;
  overflow: hidden;
}

.btn-txt {
  display: inline-block;
}

.social-btn {
  display: inline-block;
}

.social-btn button {
  width: 28px;
  height: 28px;
  margin: 30px 18px 0 0;
}

.social-btn button svg {
  overflow: visible;
}

/* Estilos generales */
body {
    background-color: #2d3548; /* Color de fondo oscuro */
    color: rgba(255, 255, 255, 0.9); /* Color de texto claro */
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
}

a {
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 100vh;
    background: url(https://images.pexels.com/photos/5496463/pexels-photo-5496463.jpeg);
    background-size: cover; /* La imagen se ajusta para cubrir todo el contenedor */
    background-position: center; /* Centrar la imagen */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

.logo {
    max-height: 60px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: #ffff;
    position: relative;
    padding: 5px 0;
}

nav ul li a:hover {
    color: #fd4766;
}

nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: 0.3s;
    bottom: 0;
}

nav ul li a:hover:after {
    width: 100%;
}

.btn {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
}

.btn:hover {
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}

.content {
    position: absolute;
    top: 35%;
    left: 8%;
}

.content .title {
    color: #0a0a0a;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%, #fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content h1 {
    color: #fff; /* Cambiar el color del texto a blanco */
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}

.content h1 span {
    color: #fd4766;
}

.content p {
    width: 55%;
    color: #f0f0f0; /* Blanco brillante */
    margin-top: 25px;
    margin-bottom: 30px;
}

/* Estilos de la sección de las cartas */

:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
  }

label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  user-select: none;
}

input[type="color"] {
  --size: 2em;
  flex-shrink: 0;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  height: var(--size);
  width: var(--size);
  padding: 0;
  border: 0;
  border-radius: 50%;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color" i]::-webkit-color-swatch {
  border-radius: 50%;
}

input[type="color" i]::-moz-color-swatch {
  border-radius: 50%;
}

::-webkit-color-swatch,
::-moz-color-swatch {
  border-color: transparent;
}

/* Estilos para el footer */
footer {
    background:#0a0a0a;
    color:#fff;
    margin:0;
    @import 'https://fonts.googleapis.com/css?family=Open+Sans';
    font-family: 'Open Sans', sans-serif;
    
    .centered {
      max-width:1200px;
      margin:0 auto;
      display:flex;
      justify-content:space-between;
      
      .footer-logo {
        width:20%;
        
        img.logo {
          padding:30px 20px 10px 20px;
          max-width:100%;
        }
      }
      
      .footer-contact {
        width:20%;
      }
      
      .footer-navigation {
        width:60%;
        
        .footer-links-holder {
          width: 33.33333%;
          position: relative;
          float: left;
          margin: 0;
          
          .footer-links {
            margin:0;
            padding:0;
            list-style:none;
            -webkit-transition: max-height .5s;
            transition: max-height .5s;
          }
        }
      }
    }
    .bottom-bar {
      position:relative;
      text-align:center;
      font-size:.8em;
      text-transform:uppercase;
      background:#000;
      padding:15px 0;
    }
  }
  
  /* Responsive Tablet Sizes */
  @media only screen and (max-width: 749px) {
    footer {
      .centered {
        flex-wrap:wrap;
        .footer-logo {
          max-width:250px;
          width:50%
        }
        .footer-contact {
          width:50%;
          padding:0 20px;
        }
        .footer-navigation {
          width:100%;
          .footer-links-holder {
            padding:0 20px;
          }
        }
      }
    }
  }
  
  /* Responsive Mobile Sizes */
  @media only screen and (max-width: 500px) {
    footer {
      .centered {
        .footer-logo {
          width:100%;
          margin:0 auto;
        }
        
        .footer-contact {
          width:100%;
        }
        
        .footer-navigation {
          
          .footer-links-holder {
            width:100%;
            padding:0;
            
            h3 {
              margin:0;
              padding:10px 20px;
              border-top:#000 1px solid;
              cursor:pointer;
  
              /* Down Arrows */
              &::after {
                float: right;
                margin-right: 10px;
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-top: 7px;
                width: 7px;
                height: 7px;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                -moz-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
                transform: rotate(135deg);
                -webkit-transition: transform .5s;
                transition: transform .5s;
              }
            }
            
            .footer-links {
              max-height: 0;
              overflow: hidden;
              padding:0 20px;
            }
            
            &.active {
              
              h3 {
                &::after {
                  -moz-transform: rotate(-45deg);
                  -ms-transform: rotate(-45deg);
                  -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
                }
              }
              
              .footer-links {
                max-height: 10000px;
              }
            }
          }
        }
      }
    }
  }
  
  /* Social Icons */
  .social {
    text-align:center;
    a {
      display:inline-block;
      padding:7px;
      width:35px;
      height:35px;
      margin:0 2px;
      background:#fff;
      border-radius:50%;
      vertical-align:middle;
      &:hover {
        background:#65c2ed;
      }
      &.linkedin {
        padding:4px;
      }
      svg {
        .face, .twit, .link {
          fill: #000;
        }
      }
    }
  }
  
  /* Typography */
  footer {
    h3 {
      font-weight:lighter;
      font-style:italic;
      margin-bottom:0;
    }
  
    p, li {
      font-weight:400;
      text-transform:uppercase;
      letter-spacing:0.05em;
      margin:10px 0;
    }
  
    a { 
      color:#fff;
      text-decoration:none;
      -webkit-transition: color .5s, background .5s;
      transition: color .5s, background .5s;
      &:hover {
        color:#65c2ed;
      }
    }
  }
  
  /* Misc CSS */
  .clearfix {
    &:before,
    &:after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
        clear: both;
    }
  }
  
  body {
    margin:0;
  }
  
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }